body {
  font-size: 16px;
  color: cadetblue;
  background-color: beige;
  font-family: 'Oxygen', sans-serif;
}

article {
  border: 1px solid cadetblue;
  margin: 10px 0 10px;
  padding: 20px;
  background-color: cadetblue;
  color: beige;
}

/** HEADER **/
#header-nav {
  background-color: cadetblue;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Company name */
  font-family: 'Lora', serif;
  color: beige;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: beige;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid beige;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  bottom: 0;
  position: relative;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: cadetblue;
  color: beige;
  
}
/* END FOOTER */

/********** Desktop - Medium devices only **********/
@media (min-width: 992px) {
  
}

/********** Tablet - Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
}

/********** Mobile - Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Company name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  /* End Footer */

